// variables
:root{
    // --outer-shadow: 3px 3px 3px #D0D0D0, -3px -3px -3px #FAFAFA;
    --outer-shadow: 3px 3px 5px #D0D0D0, -3px -3px 3px #FAFAFA;
    --outer-shadow-0: 0 0 0 #D0D0D0, 0 0 0 #FAFAFA;
    --inner-shadow: inset 3px 3px 3px #D0D0D0, inset -3px -3px 3px #FAFAFA;
    --inner-shadow-0: inset 0 0 0 #D0D0D0, inset 0 0 0 #FAFAFA;
}

$bg-black-900: #000;
$bg-black-100: #DDD;
$bg-black-50: #EFF0F4;
$text-block-900: #000;
$text-block-700: #555;
$text-block-600: #666666;
$text-block-300: #BBB;

// base
*:not(i){font-family: 'Raleway', sans-serif;font-size: 400;}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background: $bg-black-50;
    // overflow-y: hidden;
}

a{text-decoration: none;}
ul{list-style: none;}
img{vertical-align: middle;max-width: 100%;}
.container{max-width: 1140px;margin: auto;}
.row{display: flex;flex-wrap: wrap;}
.justify-content-between{justify-content: space-between;}
.outer-shadow{box-shadow: var(--outer-shadow);}
.inner-shadow{box-shadow: var(--inner-shadow);}

.hover-in-shadow{
    position: relative;
    z-index: 1;
    &:hover{box-shadow: var(--outer-shadow-0);}
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 0.7s ease;
    }
    &:hover::after{box-shadow: var(--inner-shadow);}
}

.align-items-center{align-items: center;}

.btn-1{
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--skin-color);
    background: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.7s ease;
    display: inline-block;
    text-transform: capitalize;

    &::after{border-radius: 30px;}
}

.wrap-effect .wrap{
    position: absolute;
    z-index: -1;
}
.wrap-1{
    width: 30px;
    height: 30px;
    top: 700px;
    border: 4px solid #8A49FF;
    left: 90%;
    animation: spin 10s linear infinite;
}

.wrap-2{
    left: 3%;
    width: 40px;
    top: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
}

.wrap-2 div{
    height: 3px;
    width: 3px;
    background: #FF9C07;
    margin: 0 3px 8px;
}

.wrap-3{
    height: 180px;
    width: 180px;
    border: 25px solid var(--skin-color);
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
}

.wrap-4{
    border-top: 30px solid transparent;
    border-left: 30px solid #06D79C;
    left: 30%;
    top: 200px;
    animation: spin 15s linear infinite;
}

.wrap-5{
    height: 50px;
    width: 50px;
    right: 15%;
    top: 150px;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
}

.wrap-5 div{
    width: 1px;
    background: #4DD0E1;
    height: 100%;
}

.wrap-4::before{
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid #06D79C;
    position: absolute;
    opacity: 0.5;
    left: -35px;
    top: -25px;
}

@keyframes leftBounce{
    0%, 100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(25px);
    }
}

@keyframes topBounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes fadeInTop{
    0%{
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.section-title{
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 4rem;

    h2{
        display: inline-block;
        font-size: 30px;
        font-weight: 700;
        color: $text-block-900;
        text-transform: uppercase;
    }

    h2::before{
        content: attr(data-heading);
        display: block;
        font-size: 1rem;
        font-weight: 600;
        color: var(--skin-color);
    }
}

// header

.header{
    // background: #444;
    padding: 20px 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    .logo a{
        display: inline-block;
        padding-top: 3px;
        text-align: center;
        line-height: 30px;
        height: 40px;
        width: 40px;
        font-size: 24px;
        color: var(--skin-color);
        border: 2px solid var(--skin-color);
        border-radius: 50%;
        font-weight: 800;
        // text-transform: uppercase;
    }

    .hamburger-btn{
        display: block;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.7s ease;
    }

    .hamburger-btn::after{border-radius: 50%;}

    @extend .outer-shadow, .hover-in-shadow;

    .hamburger-btn span{
        margin-top: -15px;
        height: 2px;
        width: 16px;
        background: $bg-black-900;
        position: absolute;
    }

    .hamburger-btn span::after,
    .hamburger-btn span::before{
        content: '';
        display: block;
        position: relative;
        height: 2px;
        background: $bg-black-900;
    }

    .hamburger-btn span::before{margin-top: 6px;}
    .hamburger-btn span::after{margin-top: 4px;}
}

// navigation menu

.nav-menu{
    position:fixed;
    background: $bg-black-50;
    padding-top: 0 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    @extend .outer-shadow, .hover-in-shadow;
    
    .close-nav-menu{
        height: 40px;
        width: 40px;
        display: block;
        font-size: 2rem;
        line-height: 2rem;
        border-radius: 50%;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
        text-align: center;
        color: $text-block-600;
        transition: all 0.7s ease;
        @extend .outer-shadow, .hover-in-shadow;

        &::after{border-radius: 50%;}
    }

    
    .nav-menu-inner{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul{padding: 15px;}
    ul li{
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }
    ul li:last-child{margin-bottom: 0;}
    ul li a{
        display: inline-block; 
        font-size: 25px;
        font-weight: 600;
        color: $text-block-700;
        padding: 5px 30px;
        text-transform: capitalize;
        border-radius: 30px;
        transition: all 0.7s ease;
    }

    ul li a.active{
        color: var(--skin-color);
    }

    ul li a::after{
        border-radius: 30px;
    }

    .copyright-text{
        position: absolute;
        left: -60px;
        top: 50%;
        font-size: 15px;
        color: $text-block-600;
        transform: translateY(-50%) rotate(-90deg);
    }
}

// home section

.home-section{
    .wrap-effect{position: relative;}

    .full-screen{padding: 50px 0;min-height: 100vh;}

    .home-text,
    .home-img{
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 15px;
    }

    .home-text p{
        color: $text-block-300;
        font-size: 18px;
        text-transform: capitalize;
    }

    .home-text h2{
        font-size: 55px;
        font-weight: 700;
        text-transform: capitalize;
        color: $text-block-900;
    }
    .home-text h1{
        font-size: 20px;
        font-weight: 500;
        color: $text-block-700;
        text-transform: capitalize;
    }

    .home-text .btn-1{margin-top: 30px;}

    .home-img .img-box{
        max-width: 450px;
        display: block;
        margin: auto;
        border-radius: 50%;
        padding: 20px;
    }
    .home-img .img-box img{
        width: 100%;
        border-radius: 50%;
        border: 10px solid transparent;
    }
}

// about me section

.about-section{
    padding: 80px 0 0;
    min-height: 100vh;


    .about-img{flex: 0 0 40%;max-width: 40%;padding: 0 15px;}

    .about-img .img-box{padding: 15px;border-radius: 5px;}

    .about-img .img-box img{
        width: 100%;
        border: 10px solid transparent;
        border-radius: 5px;
    }

    .about-img .social-links{
        margin: 20px;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }

    .about-img .social-links a{
        text-align: center;
        // display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        font-size: 1rem;
        border-radius: 50%;
        line-height: 50px;
        transition: all 0.7s ease;
        margin: 0 4px;
    }

    .about-img .social-links a::after{border-radius: 50%;}

    .about-img .social-links a svg{
        width: 30px;
        height: 30px;
    }

    .about-img .social-links a:hover svg g{fill: var(--skin-color);transition: all 0.3s ease;}

    .about-info{
        flex: 0 0 60%;
        padding: 0 15px;
        max-width: 60%;
    }

    .about-info p{
        font-size: 1rem;
        line-height: 26px;
        margin-bottom: 15px;
        color: $text-block-600;
    }

    .about-info a{@extend .hover-in-shadow;}
    .about-info span{font-weight: 600;}

    .about-info .btn-1{margin: 30px 20px 0 0;}

    .about-tabs{
        padding: 60px 15px 50px;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .about-tabs .tab-item{
        display: inline-block;
        margin: 0 5px 10px;
        padding: 5px 10px;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.7s ease;
        font-size: 1rem;
        color: $text-block-600;
        font-weight: 600;
        text-transform: capitalize;
    }
    .about-tabs .tab-item:hover:not(.active){opacity: 0.6;}
    .about-tabs .tab-item.active{color: var(--skin-color);}

    .tab-content{flex: 0 0 100%;max-width: 100%;display: none;}
    .tab-content.active{
        display: block;
        animation: fadeInTop 0.7s ease;
    }

    .skills{padding: 0 0 40px;}

    .skills .skill-item{
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    .skills .skill-item p{
        font-size: 16px;
        color: $text-block-600;
        text-transform: capitalize;
        margin: 0 0 10px;
    }

    .skills .skill-item .progress{
        height: 20px;
        border-radius: 10px;
        position: relative;
    }
    .skills .skill-item .progress-bar{
        background: $text-block-600;
        height: 6px;
        left: 7px;
        top: 7px;
        position: absolute;
        border-radius: 10px;
    }
    .skills .skill-item .progress-bar span{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 16px;
        font-weight: 500;
        color: $text-block-600;
        margin-top: -40px;
    }
    
    .education{margin-top: 50px;}

    .education,
    .experience{padding-bottom: 0 0 80px;}

    .timeline{
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
    }

    .timeline::before{
        content: '';
        width: 1px;
        height: 100%;
        left: 50%;
        top: 0;
        position: absolute;
        background: $bg-black-100;
    }

    .timeline .timeline-item{flex: 0 0 100%;max-width: 100%;padding: 0 15px;}

    .timeline .timeline-item:nth-child(odd){padding-right: calc(50% + 50px);text-align: right;}

    .timeline .timeline-item:nth-child(even){
        padding-left: calc(50% + 50px);
        
    }

    .timeline .timeline-item-inner{
        padding: 30px;
        border-radius: 5px;
        position: relative;
    }

    .timeline .timeline-item-inner::before{
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        background: $bg-black-100;
        top: 37px;
        z-index: -1;
    }

    .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before{
        right: -30px;
    }
    .timeline .timeline-item:nth-child(even) .timeline-item-inner::before{
        left: -30px;
    }

    .timeline .timeline-item-inner .icon{
        height: 40px;
        width: 40px;
        background: $bg-black-50;
        border: 1px solid $bg-black-100;
        border-radius: 50%;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        position: absolute;
        color: var(--skin-color);
        top: 20px;
    }

    .timeline .timeline-item:nth-child(odd) .icon{right: -70px;}

    .timeline .timeline-item:nth-child(even) .icon{left: -70px;}

    .timeline .timeline-item-inner span{
        font-weight: 500;
        color: var(--skin-color);
        display: block;
        margin: 0 0 10px;
        text-transform: capitalize;
    }
    .timeline .timeline-item-inner h3{
        font-size: 20px;
        color: $text-block-700;
        font-weight: 700;
        margin: 0 0 5px;
        text-transform: capitalize;
    }
    .timeline .timeline-item-inner h4{
        font-size: 16px;
        font-style: italic;
        color: $text-block-600;
        margin: 0;
    }
    .timeline .timeline-item-inner p{
        font-size: 16px;
        color: $text-block-600;
        line-height: 26px;
        margin: 15px 0 0;
    }
}

// services

.services-section{
    // background: red;
    padding: 80px 0 80px;

    .service-item{
        display: flex;
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 15px;
        flex-wrap: wrap;
    }

    .service-item-inner{
        padding: 50px 15px;
        border-radius: 5px;
        text-align: center;
        width: 100%;
    }

    .service-item-inner .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        text-align: center;
        border-radius: 50%;
        transition: all 0.3s ease;
        margin: 0 auto 30px;
        position: relative;
    }

    .service-item-inner .icon::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: all 0.3s ease;
    }
    
    .service-item-inner:hover .icon{
        box-shadow: var(--inner-shadow-0);
    }

    .service-item-inner:hover .icon::after{
        box-shadow: var(--outer-shadow);
    }

    .service-item-inner .icon svg{
        width: 25px;
        height: 25px;
        text-align: center;
        transition: all 0.3s ease;
        line-height: 60px;
    }

    .service-item-inner:hover .icon svg g{fill: var(--skin-color);}

    .service-item-inner h3{
        font-size: 20px;
        font-weight: 600;
        color: $text-block-700;
        margin: 0 0 10px;
        text-transform: capitalize;
    }

    .service-item-inner p{
        font-size: 16px;
        color: $text-block-600;
        line-height: 25px;
    }
}

// portfolio

.portfolio-section{
    padding: 80px 0 80px;
    min-width: 100vh;

    .section-title{margin-bottom: 40px;}

    .portfolio-filter{
        padding: 0 15px;
        flex: 0 0 100%;
        text-align: center;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .filter-item{
        display: inline-block;
        margin: 0 5 10px;
        padding: 5px 10px;
        border-radius: 30px;
        cursor: pointer;
        font-weight: 500;
        text-transform: capitalize;
        color: $text-block-600;
        transition: all 0.3s ease;
    }

    .filter-item:hover:not(.active){opacity: 0.6;}
    .filter-item.active{color: var(--skin-color);}

    .portfolio-item{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .portfolio-item.hide{display: none;}
    .portfolio-item.show{display: block; animation: fadeInTop 0.5s ease;}

    .portfolio-item-inner{
        padding: 15px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    .portfolio-item-img img{
        border-radius: 5px;
        width: 100%;
        transition: all 0.3s ease;
    }

    .portfolio-item-inner:hover .portfolio-item-img img{
        transform: translateY(-25px);
    }

    .portfolio-item-img{
        position: relative;
    }

    .portfolio-item-img .view-project{
        text-transform: capitalize;
        position: absolute;
        font-size: 16px;
        font-weight: 500;
        color: var(--skin-color);
        transition: all 0.3s ease;
        left: 0;
        bottom: -4px;
        transform: translateY(-5px);
        z-index: -1;
        opacity: 0;
    }

    .portfolio-item-inner:hover .view-project{
        transform: translateY(0px);
        opacity: 1;
    }

    .portfolio-item-details{
        display: none;
    }

    .portfolio-item-inner p{
        font-size: 16px;
        margin: 10px 0 0;
        color: $text-block-600;
        text-transform: capitalize;
    }
}

// popup portfolio

.portfolio-popup{
    background: $bg-black-50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;

    .pp-details{
        max-width: 1350px;
        width: calc(85% + 40px);
        margin: auto;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }

    .pp-details-inner{
        padding: 30px 0;
    }

    .separator{
        height: 3px;
        width: 100%;
        background: $bg-black-100;
        display: block;
    }

    .pp-title{padding: 0 15px;}
    .pp-title h2{
        font-size: 28px;
        color: $bg-black-900;
        text-transform: capitalize;
        font-weight: 600;
        margin: 0 0 5px;
    }
    .pp-title p{
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
        color: $text-block-600;
        margin: 0 0 15px;
        border-bottom: 2px solid $bg-black-100;
        padding-bottom: 10px;
    }

    .pp-title p span{font-weight: 400;}

    .pp-project-details h3{
        font-size: 20px;
        font-weight: 600;
        color: $text-block-700;
        margin: 0 0 15px;
        text-transform: capitalize;
    }

    .description{
        flex: 0 0 65%;
        max-width: 65%;
        padding: 0 15px;
    }

    .description p{
        font-size: 15px;
        color: $text-block-600;
        line-height: 25px;
    }

    .info{
        flex: 0 0 35%;
        max-width: 35%;
        padding: 0 15px;
    }

    .info ul li{
        display: block;
        margin-bottom: 10px;
        font-weight: 600;
        color: $text-block-600;
        font-size: 16px;
        text-transform: capitalize;

        &:last-child{margin-bottom: 0;}
    }

    .info ul li span{
        font-weight: 400;
    }

    .pp-img{
        max-width: 100%;
        height: auto;
        width: auto;
        padding: 10px;
        border-radius: 5px;
    }

    .pp-main{
        min-height: 100vh;
        max-width: 1350px;
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pp-main-inner{
        padding: 70px 0 50px;
        position: relative;
    }

    .pp-project-details-btn{
        position: absolute;
        border-radius: 30px;
        left: 0;
        top: 15px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: 500;
        color: var(--skin-color);
        padding: 0 25px;
        cursor: pointer;
        transition: all 0.7s ease;

        &::after{border-radius: 30px;}
    }

    .pp-project-details-btn i{margin-left: 4px;}

    .pp-close{
        position: absolute;
        right: 0;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        top: 15px;
        line-height: 35px;
        text-align: center;
        font-size: 35px;
        color: $text-block-600;
        cursor: pointer;
        transition: all 0.7s ease;
        
        &::after{border-radius: 50%;}
    }

    .pp-counter{
        position: absolute;
        right: 0;
        height: 40px;
        line-height: 40px;
        bottom: 5px;
        font-size: 16px;
        color: $text-block-600;
    }

    .pp-prev,
    .pp-next{
        position: fixed;
        top: 50%;
        height: 40px;
        width: 40px;
        color: $text-block-900;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        z-index: 1100;
        transition: all 0.3s ease;
        opacity: 0.5;

        &:hover{opacity: 1;}
    }

    .pp-prev i,
    .pp-next i{
        line-height: 40px;
    }

    .pp-prev i{transform: rotate(180deg);}

    .pp-prev{
        left: 15px;
    }

    .pp-next{
        right: 15px;
    }
}

// testimonial

// contact

// footer