@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --outer-shadow: 3px 3px 5px #D0D0D0, -3px -3px 3px #FAFAFA;
  --outer-shadow-0: 0 0 0 #D0D0D0, 0 0 0 #FAFAFA;
  --inner-shadow: inset 3px 3px 3px #D0D0D0, inset -3px -3px 3px #FAFAFA;
  --inner-shadow-0: inset 0 0 0 #D0D0D0, inset 0 0 0 #FAFAFA;
}

*:not(i) {
  font-family: 'Raleway', sans-serif;
  font-size: 400;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background: #EFF0F4;
}

body.hidden-scrolling {
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.outer-shadow, .header, .nav-menu, .nav-menu .close-nav-menu {
  -webkit-box-shadow: var(--outer-shadow);
          box-shadow: var(--outer-shadow);
}

.inner-shadow {
  -webkit-box-shadow: var(--inner-shadow);
          box-shadow: var(--inner-shadow);
}

.hover-in-shadow, .header, .nav-menu, .nav-menu .close-nav-menu, .about-section .about-info a {
  position: relative;
  z-index: 1;
}

.hover-in-shadow:hover, .header:hover, .nav-menu:hover, .nav-menu .close-nav-menu:hover, .about-section .about-info a:hover {
  -webkit-box-shadow: var(--outer-shadow-0);
          box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow::after, .header::after, .nav-menu::after, .nav-menu .close-nav-menu::after, .about-section .about-info a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.hover-in-shadow:hover::after, .header:hover::after, .nav-menu:hover::after, .nav-menu .close-nav-menu:hover::after, .about-section .about-info a:hover::after {
  -webkit-box-shadow: var(--inner-shadow);
          box-shadow: var(--inner-shadow);
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-1 {
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--skin-color);
  background: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  display: inline-block;
  text-transform: capitalize;
}

.btn-1::after {
  border-radius: 30px;
}

.wrap-effect .wrap {
  position: absolute;
  z-index: -1;
}

.wrap-1 {
  width: 30px;
  height: 30px;
  top: 700px;
  border: 4px solid #8A49FF;
  left: 90%;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.wrap-2 {
  left: 3%;
  width: 40px;
  top: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: topBounce 3s ease-in-out infinite;
          animation: topBounce 3s ease-in-out infinite;
}

.wrap-2 div {
  height: 3px;
  width: 3px;
  background: #FF9C07;
  margin: 0 3px 8px;
}

.wrap-3 {
  height: 180px;
  width: 180px;
  border: 25px solid var(--skin-color);
  border-radius: 50%;
  left: 50%;
  top: -120px;
  -webkit-animation: leftBounce 3s ease-in-out infinite;
          animation: leftBounce 3s ease-in-out infinite;
}

.wrap-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #06D79C;
  left: 30%;
  top: 200px;
  -webkit-animation: spin 15s linear infinite;
          animation: spin 15s linear infinite;
}

.wrap-5 {
  height: 50px;
  width: 50px;
  right: 15%;
  top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.wrap-5 div {
  width: 1px;
  background: #4DD0E1;
  height: 100%;
}

.wrap-4::before {
  content: '';
  border-top: 30px solid transparent;
  border-left: 30px solid #06D79C;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}

@-webkit-keyframes leftBounce {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@keyframes leftBounce {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@-webkit-keyframes topBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes topBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.section-title {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 4rem;
}

.section-title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.section-title h2::before {
  content: attr(data-heading);
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: var(--skin-color);
}

.header {
  padding: 20px 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.header .logo a {
  display: inline-block;
  padding-top: 3px;
  text-align: center;
  line-height: 30px;
  height: 40px;
  width: 40px;
  font-size: 24px;
  color: var(--skin-color);
  border: 2px solid var(--skin-color);
  border-radius: 50%;
  font-weight: 800;
}

.header .hamburger-btn {
  display: block;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.header .hamburger-btn::after {
  border-radius: 50%;
}

.header .hamburger-btn span {
  margin-top: -15px;
  height: 2px;
  width: 16px;
  background: #000;
  position: absolute;
}

.header .hamburger-btn span::after,
.header .hamburger-btn span::before {
  content: '';
  display: block;
  position: relative;
  height: 2px;
  background: #000;
}

.header .hamburger-btn span::before {
  margin-top: 6px;
}

.header .hamburger-btn span::after {
  margin-top: 4px;
}

.nav-menu {
  position: fixed;
  background: #EFF0F4;
  padding-top: 0 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}

.nav-menu .close-nav-menu {
  height: 40px;
  width: 40px;
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  text-align: center;
  color: #666666;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.nav-menu .close-nav-menu::after {
  border-radius: 50%;
}

.nav-menu .nav-menu-inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-menu ul {
  padding: 15px;
}

.nav-menu ul li {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.nav-menu ul li:last-child {
  margin-bottom: 0;
}

.nav-menu ul li a {
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  color: #555;
  padding: 5px 30px;
  text-transform: capitalize;
  border-radius: 30px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.nav-menu ul li a.active {
  color: var(--skin-color);
}

.nav-menu ul li a::after {
  border-radius: 30px;
}

.nav-menu .copyright-text {
  position: absolute;
  left: -60px;
  top: 50%;
  font-size: 15px;
  color: #666666;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

.home-section .wrap-effect {
  position: relative;
}

.home-section .full-screen {
  padding: 50px 0;
  min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.home-section .home-text p {
  color: #BBB;
  font-size: 18px;
  text-transform: capitalize;
}

.home-section .home-text h2 {
  font-size: 55px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000;
}

.home-section .home-text h1 {
  font-size: 20px;
  font-weight: 500;
  color: #555;
  text-transform: capitalize;
}

.home-section .home-text .btn-1 {
  margin-top: 30px;
}

.home-section .home-img .img-box {
  max-width: 450px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 20px;
}

.home-section .home-img .img-box img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}

.about-section {
  padding: 80px 0 0;
  min-height: 100vh;
}

.about-section .about-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  padding: 0 15px;
}

.about-section .about-img .img-box {
  padding: 15px;
  border-radius: 5px;
}

.about-section .about-img .img-box img {
  width: 100%;
  border: 10px solid transparent;
  border-radius: 5px;
}

.about-section .about-img .social-links {
  margin: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-section .about-img .social-links a {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  font-size: 1rem;
  border-radius: 50%;
  line-height: 50px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  margin: 0 4px;
}

.about-section .about-img .social-links a::after {
  border-radius: 50%;
}

.about-section .about-img .social-links a svg {
  width: 30px;
  height: 30px;
}

.about-section .about-img .social-links a:hover svg g {
  fill: var(--skin-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about-section .about-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  padding: 0 15px;
  max-width: 60%;
}

.about-section .about-info p {
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 15px;
  color: #666666;
}

.about-section .about-info span {
  font-weight: 600;
}

.about-section .about-info .btn-1 {
  margin: 30px 20px 0 0;
}

.about-section .about-tabs {
  padding: 60px 15px 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.about-section .about-tabs .tab-item {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  font-size: 1rem;
  color: #666666;
  font-weight: 600;
  text-transform: capitalize;
}

.about-section .about-tabs .tab-item:hover:not(.active) {
  opacity: 0.6;
}

.about-section .about-tabs .tab-item.active {
  color: var(--skin-color);
}

.about-section .tab-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  display: none;
}

.about-section .tab-content.active {
  display: block;
  -webkit-animation: fadeInTop 0.7s ease;
          animation: fadeInTop 0.7s ease;
}

.about-section .skills {
  padding: 0 0 40px;
}

.about-section .skills .skill-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.about-section .skills .skill-item p {
  font-size: 16px;
  color: #666666;
  text-transform: capitalize;
  margin: 0 0 10px;
}

.about-section .skills .skill-item .progress {
  height: 20px;
  border-radius: 10px;
  position: relative;
}

.about-section .skills .skill-item .progress-bar {
  background: #666666;
  height: 6px;
  left: 7px;
  top: 7px;
  position: absolute;
  border-radius: 10px;
}

.about-section .skills .skill-item .progress-bar span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  color: #666666;
  margin-top: -40px;
}

.about-section .education {
  margin-top: 50px;
}

.about-section .education,
.about-section .experience {
  padding-bottom: 0 0 80px;
}

.about-section .timeline {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.about-section .timeline::before {
  content: '';
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  position: absolute;
  background: #DDD;
}

.about-section .timeline .timeline-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.about-section .timeline .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 50px);
  text-align: right;
}

.about-section .timeline .timeline-item:nth-child(even) {
  padding-left: calc(50% + 50px);
}

.about-section .timeline .timeline-item-inner {
  padding: 30px;
  border-radius: 5px;
  position: relative;
}

.about-section .timeline .timeline-item-inner::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background: #DDD;
  top: 37px;
  z-index: -1;
}

.about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before {
  right: -30px;
}

.about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner::before {
  left: -30px;
}

.about-section .timeline .timeline-item-inner .icon {
  height: 40px;
  width: 40px;
  background: #EFF0F4;
  border: 1px solid #DDD;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  color: var(--skin-color);
  top: 20px;
}

.about-section .timeline .timeline-item:nth-child(odd) .icon {
  right: -70px;
}

.about-section .timeline .timeline-item:nth-child(even) .icon {
  left: -70px;
}

.about-section .timeline .timeline-item-inner span {
  font-weight: 500;
  color: var(--skin-color);
  display: block;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.about-section .timeline .timeline-item-inner h3 {
  font-size: 20px;
  color: #555;
  font-weight: 700;
  margin: 0 0 5px;
  text-transform: capitalize;
}

.about-section .timeline .timeline-item-inner h4 {
  font-size: 16px;
  font-style: italic;
  color: #666666;
  margin: 0;
}

.about-section .timeline .timeline-item-inner p {
  font-size: 16px;
  color: #666666;
  line-height: 26px;
  margin: 15px 0 0;
}

.services-section {
  padding: 80px 0 80px;
}

.services-section .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-section .service-item-inner {
  padding: 50px 15px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.services-section .service-item-inner .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 auto 30px;
  position: relative;
}

.services-section .service-item-inner .icon::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services-section .service-item-inner:hover .icon {
  -webkit-box-shadow: var(--inner-shadow-0);
          box-shadow: var(--inner-shadow-0);
}

.services-section .service-item-inner:hover .icon::after {
  -webkit-box-shadow: var(--outer-shadow);
          box-shadow: var(--outer-shadow);
}

.services-section .service-item-inner .icon svg {
  width: 25px;
  height: 25px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 60px;
}

.services-section .service-item-inner:hover .icon svg g {
  fill: var(--skin-color);
}

.services-section .service-item-inner h3 {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.services-section .service-item-inner p {
  font-size: 16px;
  color: #666666;
  line-height: 25px;
}

.portfolio-section {
  padding: 80px 0 80px;
  min-width: 100vh;
}

.portfolio-section .section-title {
  margin-bottom: 40px;
}

.portfolio-section .portfolio-filter {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: center;
  max-width: 100%;
  margin-bottom: 20px;
}

.portfolio-section .filter-item {
  display: inline-block;
  margin: 0 5 10px;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  color: #666666;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-section .filter-item:hover:not(.active) {
  opacity: 0.6;
}

.portfolio-section .filter-item.active {
  color: var(--skin-color);
}

.portfolio-section .portfolio-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-section .portfolio-item.hide {
  display: none;
}

.portfolio-section .portfolio-item.show {
  display: block;
  -webkit-animation: fadeInTop 0.5s ease;
          animation: fadeInTop 0.5s ease;
}

.portfolio-section .portfolio-item-inner {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.portfolio-section .portfolio-item-img img {
  border-radius: 5px;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-section .portfolio-item-inner:hover .portfolio-item-img img {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.portfolio-section .portfolio-item-img {
  position: relative;
}

.portfolio-section .portfolio-item-img .view-project {
  text-transform: capitalize;
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  color: var(--skin-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: 0;
  bottom: -4px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  z-index: -1;
  opacity: 0;
}

.portfolio-section .portfolio-item-inner:hover .view-project {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.portfolio-section .portfolio-item-details {
  display: none;
}

.portfolio-section .portfolio-item-inner p {
  font-size: 16px;
  margin: 10px 0 0;
  color: #666666;
  text-transform: capitalize;
}

.portfolio-popup {
  background: #EFF0F4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio-popup .pp-details {
  max-width: 1350px;
  width: calc(85% + 40px);
  margin: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio-popup .pp-details.active {
  opacity: 1;
}

.portfolio-popup .pp-details-inner {
  padding: 30px 0;
}

.portfolio-popup .separator {
  height: 3px;
  width: 100%;
  background: #DDD;
  display: block;
}

.portfolio-popup .pp-title {
  padding: 0 15px;
}

.portfolio-popup .pp-title h2 {
  font-size: 28px;
  color: #000;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0 0 5px;
}

.portfolio-popup .pp-title p {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #666666;
  margin: 0 0 15px;
  border-bottom: 2px solid #DDD;
  padding-bottom: 10px;
}

.portfolio-popup .pp-title p span {
  font-weight: 400;
  text-transform: capitalize;
}

.portfolio-popup .pp-project-details h3 {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  margin: 0 0 15px;
  text-transform: capitalize;
}

.portfolio-popup .description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  max-width: 65%;
  padding: 0 15px;
}

.portfolio-popup .description p {
  font-size: 15px;
  color: #666666;
  line-height: 25px;
}

.portfolio-popup .info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  max-width: 35%;
  padding: 0 15px;
}

.portfolio-popup .info ul li {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #666666;
  font-size: 16px;
  text-transform: capitalize;
}

.portfolio-popup .info ul li:last-child {
  margin-bottom: 0;
}

.portfolio-popup .info ul li span {
  font-weight: 400;
}

.portfolio-popup .info ul li a {
  color: var(--skin-color);
}

.portfolio-popup .pp-img {
  max-width: 100%;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 5px;
}

.portfolio-popup .pp-main {
  min-height: 100vh;
  max-width: 1350px;
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-popup .pp-main-inner {
  padding: 70px 0 50px;
  position: relative;
}

.portfolio-popup .pp-project-details-btn {
  position: absolute;
  border-radius: 30px;
  left: 0;
  top: 15px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: var(--skin-color);
  padding: 0 25px;
  cursor: pointer;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.portfolio-popup .pp-project-details-btn::after {
  border-radius: 30px;
}

.portfolio-popup .pp-project-details-btn i {
  margin-left: 4px;
}

.portfolio-popup .pp-close {
  position: absolute;
  right: 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  top: 15px;
  line-height: 35px;
  text-align: center;
  font-size: 35px;
  color: #666666;
  cursor: pointer;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.portfolio-popup .pp-close::after {
  border-radius: 50%;
}

.portfolio-popup .pp-counter {
  position: absolute;
  right: 0;
  height: 40px;
  line-height: 40px;
  bottom: 5px;
  font-size: 16px;
  color: #666666;
}

.portfolio-popup .pp-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1005;
  background: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
}

.portfolio-popup .pp-loader div {
  height: 40px;
  width: 40px;
  border: 3px solid var(--skin-color);
  border-radius: 50%;
  border-right: 3px solid transparent;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.portfolio-popup .pp-loader.active {
  visibility: visible;
  opacity: 1;
}

.portfolio-popup .pp-prev,
.portfolio-popup .pp-next {
  position: fixed;
  top: 50%;
  height: 40px;
  width: 40px;
  color: #000;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  z-index: 1100;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.5;
}

.portfolio-popup .pp-prev:hover,
.portfolio-popup .pp-next:hover {
  opacity: 1;
}

.portfolio-popup .pp-prev svg,
.portfolio-popup .pp-next svg {
  line-height: 40px;
}

.portfolio-popup .pp-prev svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.portfolio-popup .pp-prev {
  left: 15px;
}

.portfolio-popup .pp-next {
  right: 15px;
}

.portfolio-popup.open {
  visibility: visible;
  opacity: 1;
}

:root {
  --skin-color: #FB839E;
}
/*# sourceMappingURL=styles.css.map */